<div class="container">
  <h2>Current Available Games</h2>
  <div class="game-details-container flex-md-row justify-content-center" style="border: 1px solid black;">
    <ul class="list-group">
      <li *ngFor="let game of games" class="list-group-item">
        {{ game.gameId }}. {{ game.title }} - {{ game.state }}<span>
              <button *ngIf="(isLoggedIn)" class="btn-sm btn-primary float-end" routerLink="/game/{{game.gameId}}">More Info
              </button>
              </span>
      </li>
    </ul>
  </div>
</div>
