.navbar {
  font-family: "Die Die Die";
  background-color: var(--main-red-bg-color);
}

.navbar a {
  font-size: 2rem;
  font-weight: 300;
  color: var(--main-white-color);
}

/* Text Color on Sign-In / Logout */
.navbar button {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-white-color);
  z-index: 1;
}

.infobar {
  width: 100%;
  background-color: var(--main-red-bg-color) !important;
  color: var(--main-white-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}