<nav class="navbar sticky-top navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Humans Vs Zombies</a>
    <div aria-label="Sign-in & Registration" class="btn-group align-content-end" role="group">
      <!-- not logged in -->
      <ng-container *ngIf="!(isLoggedIn)">
        <button (click)="register()" class="btn btn-danger" type="button">Register</button>
        <button (click)="login()" class="btn btn-danger mx-1" type="button">Sign In</button>
      </ng-container>
      <!-- logged in -->
      <ng-container *ngIf="isLoggedIn">
        <button (click)="logout()" class="btn btn-danger" type="button">Logout</button>
      </ng-container>
    </div>
  </div>
  <div *ngIf="isLoggedIn" class="infobar position-absolute bottom-0">
    &nbsp;&nbsp;&nbsp;&nbsp;Logged in as: <b>{{username[0].toUpperCase() + username.slice(1, username.length)}}</b>
  </div>
</nav>
