<table class="table table-sm table-borderless">
  <thead>
  <tr>
    <th scope="col"><h4>Playerlist</h4></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let player of playersInGame">
    <tr class="align-middle">
      <td>
        <p>{{ player.playerName}}</p>
      </td>
      <td *ngIf="isAdmin">
        <button (click)="onFlipState(player.playerId)" *ngIf="!player.human" class="btn-sm btn-warning float-end">
          Zombie
        </button>
        <button (click)="onFlipState(player.playerId)" *ngIf="player.human" class="btn-sm btn-success float-end">Human
        </button>
        <button (click)="handleKickPlayer(player.playerId)" class="btn-danger">Kick</button>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
