h5 {
    font-weight: bold;
    font-size: x-large;
}

th, td {
    text-align: center;
    font-size: large;
    font-weight: bold;
    -webkit-text-stroke: black 1px;
    text-shadow: 1px 1px 20px white;
}

table.table-hover tbody tr:hover{
    background-color: var(--main-red-bg-color); 
}
