<table [ngClass]="{'table-hover':isLoggedIn}" class="table table-hover table-borderless">
  <thead>
  <tr>
    <th class="float-start" scope="col"><h5>Title</h5></th>
    <th scope="col"><h5>State</h5></th>
    <th scope="col"><h5>Players</h5></th>
    <th scope="col"><h5>Created</h5></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let game of games">
    <tr (click)="handleClickDetail(this.game.gameId)" [ngStyle]="isLoggedIn?{cursor:'pointer'}:{}" class="align-middle">
      <td class="float-start"><p>{{ game.title }}</p></td>
      <td><p>{{ game.state }}&nbsp;&nbsp;<i *ngIf="game.isRegistered" class="bi bi-check"
                                            style="color: greenyellow; font-size: 1.5rem; vertical-align: -.125em;"></i>
      </p></td>
      <td><p>{{ game.playerCount + "/" + game.playerLimit }}</p></td>
      <td><p>{{ game.timeCreated?.toString() | date:'short' }}</p></td>
      <td *ngIf="isAdmin">
        <button (click)="handleDeleteGame(this.game.gameId, $event)" class="btn-danger float-end" style="z-index: 2;">
          X
        </button>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>

