::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.chat {
  width: 100%; 
}

.messages {
  width: auto;
  background-color: var(--main-white-color);
  color: var(--main-black-bg-color);
}

.scroller {
  height: 200px;
  overflow-y: scroll;
}

input {
  width: 100%;
  background-color: var(--main-white-color);
  border: 1px solid var(--main-black-bg-color);
}
