<h4>Chat</h4>
<div class="chat">
  <div class="tabs my-3">
    <button (click)="joinGlobal()" class="btn-primary">global</button>
    <ng-container *ngIf="showFactionButton()">
      <ng-container *ngIf="!isAdmin">
        <button (click)="joinFaction()" *ngIf="getFaction()"
                [ngClass]="{'btn-success mx-1':player.human, 'btn-warning mx-1':!player.human}">{{getFaction()}}</button>
      </ng-container>
      <!-- Admin buttons -->
      <ng-container *ngIf="isAdmin">
        <button (click)="joinFaction('humans')" class="btn-success mx-1">Humans</button>
        <button (click)="joinFaction('zombies')" class="btn-warning mx-1">Zombies</button>
      </ng-container>
    </ng-container>
    <!-- Player buttons -->


  </div>
  <!-- <div style="display: flex"> -->
  <div #chatScroll [scrollTop]="chatScroll.scrollHeight" class="messages scroller">
    <div *ngFor="let message of this.filterMessage()">{{ message.playerName + ": " + message.message }}</div>
  </div>
  <!-- </div> -->
  <form #messageForm="ngForm" (ngSubmit)="handleSendMessage(messageForm)" class="message" style="display: flex">
    <input [(ngModel)]="message" [placeholder]="this.channel" name="message" ngModel required type="text"/>
    <button
      [ngClass]="this.channel === 'global'?'btn-primary ':{'btn-success ':this.channelFaction ==='humans', 'btn-warning':this.channelFaction ==='zombies'}"
      type="submit">
      Send
    </button>
  </form>
</div>
