<div class="container">
  <div class="header">
    <h2 class="my-5">{{ game?.title }}<br>State: {{ game?.state }}</h2>
    <p *ngIf="game?.state === 'Registration'">Please wait until all the slots are filled or admin starts the game. One
      player is randomly selected to be the "Patient Zero" when the game starts.</p>
    <p *ngIf="game?.state === 'In Progress'">The game will finish when only one human remains, or admin interferes.</p>


  </div>
  <div *ngIf="game" class="btn-group-sm my-3">
    <button (click)="goBack()" class="btn-primary" type="button">Go back</button>
    <ng-container *ngIf="isAdmin">
      <button (click)="startGame()" *ngIf="isRegistering" class="btn-success mx-1" type="button">Start game</button>
      <button (click)="resetGame()" *ngIf="isProgressing" class="btn-danger mx-1" type="button">Reset game</button>
    </ng-container>
    <!-- Buttons enabled when game is in registration mode -->
    <ng-container *ngIf="isRegistering">
      <button (click)="joinGame()" *ngIf="!player" class="btn-primary mx-1" type="button">Join game</button>
      <button (click)="leaveGame()" *ngIf="player" class="btn-primary mx-1" type="button">Leave game</button>
    </ng-container>
    <!-- in progress mode -->
    <ng-container *ngIf="isProgressing && playerIsRegistered()">
      <!-- Kill form button -->
      <button *ngIf="isZombie()" class="btn-primary mx-1" data-bs-target="#killFormModal" data-bs-toggle="modal"
              type="button">Register Kill
      </button>
      <button (click)="showPlayerInformation()" class="btn-primary"
              data-bs-target="#showPlayerinfo" data-bs-toggle="modal" type="button">My Info
      </button>
      <button (click)="flyToCurrentPosition()" *ngIf="geoLocationEnabled()" class="btn-success mx-1">My Position
      </button>
    </ng-container>
    <!-- in completed mode -->
    <button *ngIf="isAdmin" class="btn-primary mx-1" data-bs-target="#updateFormModal" data-bs-toggle="modal"
            type="button">Edit Game
    </button>
  </div>

  <div class="map-container d-flex justify-content-center">
    <div id="gameMap"></div>
  </div>


  <ng-container *ngIf="game?.gameId">
    <div class="d-flex chat-playerlist-container mt-3 justify-content-between">
      <div *ngIf="playerIsRegistered() || isAdmin" class="chat flex-grow-1">
        <app-chat [gameId]="game.gameId" [gameState]="game.state"
                  [playerList]="playersInGame" [player]="player"></app-chat>
      </div>
      <div class="players flex-grow-1">
        <app-player-list (flipState)="flipState($event)" [isAdmin]="isAdmin"
                         [playersInGame]="playersInGame"></app-player-list>
      </div>
    </div>
  </ng-container>

</div>

<!-- Modals -->
<!-- Edit Game -->
<div aria-hidden="true" aria-labelledby="updateFormModalLabel" class="modal fade" data-bs-backdrop="static"
     data-bs-keyboard="false"
     id="updateFormModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateFormModalLabel">Edit Game</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <form #updateForm="ngForm" (ngSubmit)="updateGameFromForm(updateForm)">
            <label class="form-label" for="updatedTitle"></label>
            <div class="input-group mb-3">
              <span class="input-group-text">Title:</span>
              <input #updatedTitle="ngModel" [ngClass]="{
                      'is.valid': updatedTitle.valid,
                      'is-invalid': updatedTitle.invalid && (updatedTitle.dirty || updatedTitle.touched)}"
                     aria-label="updateGameTitle" class="form-control"
                     minlength="3"
                     name="updatedTitle" ngModel type="text">
            </div>
            <div *ngIf="updatedTitle.errors && updatedTitle.invalid && (updatedTitle.dirty || updatedTitle.touched)">
              <p *ngIf="updatedTitle.errors?.['minlength']" style="color: var(--main-black-bg-color);">Title is to
                short, (3 chars).</p>
            </div>

            <!-- This label is to change the state of the game -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="updatedState">Game Status</label>
              </div>
              <select #updatedState="ngModel" aria-label="updateGameState" class="custom-select" name="updatedState"
                      ngModel>
                <option disabled selected></option>
                <option value="Registration">Registration</option>
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
              </select>
            </div>
            <button class="btn-danger" data-bs-dismiss="modal" type="button">Close</button>
            <button class="btn-primary" data-bs-dismiss="modal" type="submit">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Show My Info -->
<div aria-hidden="true" aria-labelledby="showPlayerinfoLabel" class="modal fade" data-bs-backdrop="static"
     data-bs-keyboard="false"
     id="showPlayerinfo" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showPlayerinfoLabel"> {{playerInfo?.playerName}} details: </h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <table class="table table-sm table-borderless">
          <thead>
          <tr>
            <th><b>Your BiteCode</b></th>
            <th><b>Your Faction</b></th>
            <th><b>Were you patient zero?</b></th>
          </tr>
          </thead>
          <tbody>
          <tr class="align-middle text-center">
            <td>{{ playerInfo?.biteCode }}</td>
            <td *ngIf="playerInfo?.human">Human!</td>
            <td *ngIf="!playerInfo?.human">Zombie!</td>
            <td *ngIf="playerInfo?.patientZero">Yes!</td>
            <td *ngIf="!playerInfo?.patientZero">No!</td>
          </tr>
          </tbody>
        </table>

        <b>Latitude:</b>
        <p style="color: var(--main-black-bg-color);"><span>{{this.position.latitude}}</span></p>
        <br>
        <b>Longitude:</b>
        <p style="color: var(--main-black-bg-color);"><span>{{this.position.longitude}}</span></p>
        <br>
        <br>
        <div class="qr-container float-start">
          <b>Your BiteCode as QR</b>
          <br>
          <qr-code [size]="100" [value]="playerInfo?.biteCode"></qr-code>
        </div>
      </div>
    </div>
  </div>
</div>

<app-kill-form (onKill)="handleKill($event)" [killLatitude]="this.position.latitude"
               [killLongitude]="this.position.longitude"></app-kill-form>
