#gameMap {
    height: 400px;
    width: 100%;
}

.modal-header {
    background-color: var(--main-red-bg-color);
}

.modal-body {
    background-color: var(--main-white-color);
}

b {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-black-bg-color);
}

@media (max-width: 767.98px) {
    #gameMap {
        height: 200px;
        width: 97.5%;
    }
    .chat-playerlist-container {
        flex-direction: column;
    }
    
    .players {
        margin-top: 10px;
    }
}