.modal-header {
    background-color: var(--main-red-bg-color);
}

.modal-body {
    background-color: var(--main-white-color);
}

b {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-black-bg-color);
}