/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: "Die Die Die";
    src: local("Die Die Die"), url(./assets/fonts/DIEDIEDI.TTF) format("truetype");
}

:root {
    --main-black-bg-color: #050101;
    --main-red-bg-color: #5e0505;
    --main-white-color: #E6E8E6;
    --main-p-color: #FCBA04;
    --btn-primary: #255C99;
    --btn-danger: #B30808;
    --btn-success: #5E8C61;
}


.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:disabled {
    background-color: var(--btn-primary);
    color: var(--main-white-color);
    border: none;
}

.btn-danger, .btn-danger:hover, .btn-danger:focus, .btn-danger:active:focus, .btn-danger:disabled {
    background-color: var(--btn-danger);
    color: var(--main-white-color);
    border: none;
    border-radius: 0;
}

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active:hover, btn.btn-success:disabled {
    background-color: var(--btn-success);
    color: var(--main-black-bg-color);
    border: none;
}

.btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning:active:hover, .btn-warning.btn-danger:disabled {
    background-color: var(--main-p-color);
    color: var(--main-black-bg-color);
    border: none;
}

body {
    background-color: var(--main-black-bg-color);
    background-image: url(https://wallpaper.dog/large/5522510.jpg);
    background-attachment: fixed;
    color: var(--main-white-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-white-color);
    -webkit-text-stroke: black 1px;
    text-shadow: 1px 1px 20px white;
}

p {
    color: var(--main-p-color);
    -webkit-text-stroke: black 1px;
    text-shadow: 1px 1px 20px white;
    font-weight: bold;
    font-size: large;
}